.res-bar {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100px;
	height: 150px;
	border: 1px solid black;
	background-color: white;
	top: 70px;
	right: 90px;
	z-index: 5;

	.res-link {
		margin: 5px 0 0 5px;
	}
}
